<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

 
    <link rel="stylesheet" href="in2.css">
</head>
<body>
<div class="contai"> 
  <div class="head">
    <h2 class="m1"><span style="color: rgb(255, 255, 0);">A</span><span style="color: rgb(255, 255, 0); opacity: 0.6;">ssurance </span><span style="color: rgb(0, 174, 255);">C</span><span style="color: rgb(0, 174, 255);opacity: 0.6;">onsistency </span><span style="color: rgb(255, 80, 80);">F</span><span style="color: rgb(255, 158, 158); opacity: 0.6;">ranchisee</span>
    <span style="color: white;">B</span><span style="color:white;opacity: 0.6;">anking</span></h2>
    <p style="font-weight: bolder; color: tomato;">account holder details</p>
  </div>
  <div class="scro">
    <marquee scrollamount="2" direction="up" height="25px">
      <div class="ct"><p>Created by <span style="color: rgb(229, 255, 208);">Vasanth</span></p></div>
      </marquee>
  </div>
 
  <div class="bu">
    
  <a href="/home" class="ab btn btn-sm btn-hover" style="background-color: rgba(7, 153, 153, 0.733); color:white;font-weight: 500;">Home</a>
  <a href="/Alltransactions" class="ab btn btn-sm btn-hover" style="background-color: rgba(7, 153, 153, 0.733); color:white;font-weight: 500;">View transactions</a>
  <a href="/accounts" class="ab btn btn-sm btn-hover" style="background-color: rgba(7, 153, 153, 0.733); color:white;font-weight: 500;">View accountholders</a>
  
  </div>
  <div class="table-responsive">
    <table class="table  table-light w-auto">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Account-no</th>
            <th scope="col">Email</th>
            <th scope="col">CurrentBalance</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <% let c=0 %>
            <% for(var i=0;i<data.length;i++) { %>
            <tr class="rwc">
            <th scope="row"><% c+=1; %></th>
            <td class="rwn"><%= data[i].Name %></td>
            <td><%= data[i].Accountno %></td>
            <td><%= data[i].Email %></td>
            <td style="font-family:Arial, Helvetica, sans-serif;"><%= data[i].CurrentBal %> ₹</td>
            <td>
              <a href="/account/<%= data[i].Name %>" class="btn btn-sm btn-hover" style="background-color: rgba(7, 153, 153, 0.733); color:white;font-weight: 500;">view</a>
            </td>
          </tr> 
            <% } %>
        </tbody>
    </table>
  </div>
  <hr style="height: 2px;background-color: white;">
  <div class="ftco">
    <p style="color: white; "><span style="color: rgb(255, 255, 0);font-size: 40px;">A</span><span style="color: rgb(0, 138, 180);font-size: 40px;">C</span><span style="color: rgb(255, 80, 80);font-size: 40px;">F </span> Banking is so secure that we provide additional information about the future benifits and make customers so trustable and mainly people with lots of money will need security for their money and they can blindly
      trust us Because we provide security like a girl!!
    </p>
  </div>
  <hr style="height: 2px;background-color: white;">
  <div class="med-i">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
  </div>
</div>

</body>
</html>